/**** BASE STYLE ***/
body{
  font-family: 'PT Serif', serif;
  font-size: 20px;
  background-color: #f9d7b8;
  color: #243340;
  margin: 0;
}

p,
h4{
margin: 0;
width: 600px;
float: right;
}

/***** GRID *****/
.full-width {
      width: 1250px;
      margin: 0 auto;
      overflow: auto;
}

.half-width {
      width: 600px;
      float: left;
      margin: 20px 0px;
    }

.half-width-left {
      width: 600px;
      float: left;
      margin: 20px 20px;
}

.third-width{
    width: 350px;
    display: inline-block;
    float: left;
    text-align: center;
}
.title{
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  color: #A65C41;
  text-align: center;
}

h3 span{
  display: inline-block;
  padding: 7px 7px 7px 7px;
  margin: 0;
}

h3{
  margin: 0;
  padding: 10px 0 10px 0;
}


/***** HEADER *****/
header {
    height: 700px;
    background: url('../img/marek-piwnicki-dark-unsplash-crop.png');
    background-size:cover;
    background-position: center;
}

header h1{
  font-family: 'Megrim', cursive;
  font-size:100px;
  color: #f2f2f2;
  text-align: center;
}

header h2{
  font-family:'Raleway', sans-serif;
  font-size: 50px;
  color: #F2A663;
  text-align: center;
  margin: 20px;
}

nav {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color:#f2f2f2;
  text-align: right;
}

nav ul{
  display: inline-block;
  list-style: none;
}

nav ul li{
  float: left;
  padding: 10px 30px;
}

nav ul li a{
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color:#f2f2f2;
  text-align: right;
}



/**** PORTFOLIO *****/
.half-width-left h4, p{
    padding: 5px 0px;
  }

.half-width-left h4{
    font-size: 25px;
    text-decoration: underline;
    font-family: 'Raleway', sans-serif;
}

.half-width-left p{
  font-size: 18px;
  line-height: 30px;
}

#portfolio {
  padding: 50px 0;
}

#portfolio a:visited {
  text-decoration: none;
  color: #243340;
}

#portfolio h5{
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  padding-top: 20px;
}


/**** ABOUT ME *****/
#about img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#about{
  background-color: #F2A663;
  padding: 50px 0;
}

#about title{
  padding: 20px 0;
}

#about p{
  font-size: 15px;
  line-height: 30px;
}

/***** CONTACT ME *****/
#footer{
  padding: 50px 0;
  text-align: center;
  background-color: #243340;
  background-size: cover;
}

#footer .third-width{
  width: 416px;
  padding: 10px 0;
  text-align: center;
  display: inline-block;
}

.third-width ul li{
  list-style: none;
  color: #f2f2f2;
  text-align: center;
  float: left;
}

#footer p{
  width: 350px;
  text-align: center;
  font-size: 15px;
  color: #f2f2f2;
  margin: 0 25px;
}

#footer h5{
  width: 350px;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  color: #f2f2f2;
  margin: 0 auto;
  padding: 10px 0;
  color: #F2A663;
}

#footer img{
  padding: 20px 10px;
  text-align: center;
  line-height: 32px;
}

.button {
  border: none;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
}

.button:hover {opacity: 0.6}
